services:
  app:
    build:
      context: .
      target: development
    container_name: dashboard-api-dev
    restart: unless-stopped
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=development
    env_file:
      - .env.development-docker
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - postgres
    networks:
      - dashboard-network

  postgres:
    image: postgres:15-alpine
    container_name: dashboard-postgres-dev
    restart: unless-stopped
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: dashboard-sample
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - dashboard-network

  adminer:
    image: adminer
    container_name: dashboard-adminer-dev
    restart: unless-stopped
    ports:
      - '8080:8080'
    depends_on:
      - postgres
    networks:
      - dashboard-network

volumes:
  postgres_data:

networks:
  dashboard-network:
    driver: bridge
